<!-- 
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row g-3">
            <div class="col-md-12">
                <label for="id" class="form-label"> id </label>
                <input id="id" type="number" class="form-control" formControlName="id" />
            </div>
            <div class="col-md-12">
                <label for="tradeType" class="form-label"> tradeType </label>
                <input id="tradeType" type="text" class="form-control" formControlName="tradeType" />
            </div>
            <div class="col-md-12">
                <label for="symbol" class="form-label"> symbol </label>
                <input id="symbol" type="text" class="form-control" formControlName="symbol" />
            </div>
            <div class="col-md-12">
                <label for="entryDate" class="form-label"> entryDate </label>
                <input id="entryDate" type="Date" class="form-control" formControlName="entryDate" />
            </div>
            <div class="col-md-12">
                <label for="entryPrice" class="form-label"> entryPrice </label>
                <input id="entryPrice" type="number" class="form-control" formControlName="entryPrice" />
            </div>
            <div class="col-md-12">
                <label for="numberOfUnits" class="form-label"> numberOfUnits </label>
                <input id="numberOfUnits" type="number" class="form-control" formControlName="numberOfUnits" />
            </div>
            <div class="col-md-12">
                <label for="exitPrice" class="form-label"> exitPrice </label>
                <input id="exitPrice" type="number" class="form-control" formControlName="exitPrice" />
            </div>
            <div class="col-md-12">
                <label for="exitDate" class="form-label"> exitDate </label>
                <input id="exitDate" type="Date" class="form-control" formControlName="exitDate" />
            </div>
            <div class="col-md-12">
                <label for="isClosed" class="form-label"> isClosed </label>
                <input id="isClosed" type="text" class="form-control" formControlName="isClosed" />
            </div>
            <div class="col-md-12">
                <label for="successStatus" class="form-label"> successStatus </label>
                <input id="successStatus" type="text" class="form-control" formControlName="successStatus" />
            </div>

            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid"> Submit </button>
            </div>
        </div>
    </form> -->


    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngIf="false">
          <label for="id">ID</label>
          <input type="number" formControlName="id" class="form-control" id="id">
        </div>
      
        <div class="form-group">
          <label for="tradeType">Trade Type</label>
          <input type="text" formControlName="tradeType" class="form-control" id="tradeType">
        </div>
      
        <div class="form-group">
          <label for="symbol">Symbol</label>
          <input type="text" formControlName="symbol" class="form-control" id="symbol">
        </div>
      
        <div class="form-group">
          <label for="entryDate">Entry Date</label>
          <p-calendar formControlName="entryDate" class="form-control" id="entryDate" ></p-calendar>
        </div>
      
        <div class="form-group">
          <label for="entryPrice">Entry Price</label>
          <input type="number" formControlName="entryPrice" class="form-control" id="entryPrice">
        </div>
      
        <div class="form-group">
          <label for="numberOfUnits">Number of Units</label>
          <input type="number" formControlName="numberOfUnits" class="form-control" id="numberOfUnits">
        </div>
      
        <div class="form-group">
          <label for="exitPrice">Exit Price</label>
          <input type="number" formControlName="exitPrice" class="form-control" id="exitPrice">
        </div>
      
        <div class="form-group">
          <label for="exitDate">Exit Date</label>
          <p-calendar formControlName="exitDate" class="form-control" id="exitDate" ></p-calendar>
        </div>
      
        <div class="form-group">
          <label for="isClosed">Is Closed?</label>
          <input type="text" formControlName="isClosed" class="form-control" id="isClosed">
        </div>
      
        <div class="form-group">
          <label for="successStatus">Success Status</label>
          <input type="text" formControlName="successStatus" class="form-control" id="successStatus">
        </div>
      
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
      </form>
      